/bin/

# Eclipse folders
.project
.classpath
.settings

# IDEA folders
.idea

# Build output folders
project/project/
project/target/
target/

.cache-main
.cache-tests

# Some NetCDF, GRIB files for testing
resources/merra
resources/narr
resources/noaa
resources/multisen
